* {
    padding: 0;
    margin: 0
}

body {
    font-family: 'Open Sans', "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB", sans-serif, "微软雅黑", "黑体";
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

section {
    margin: 0 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.8;
    font-weight: 400;
    text-align: justify;
}

footer {
    font-size: 1.0em;
    text-align: right;
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
}